.card{
    width: 100%;
    
    background-image: url('https://th.bing.com/th/id/R.c05986e60bbd3a7e9ed7e403e06d2631?rik=ti3CKg6R2CtcZw&riu=http%3a%2f%2fwww.suyashhospitalraipur.com%2fimages%2fthemexpert%2fhome%2fhome2%2fhand-with-the-fever-instrument-PK9QJUL.jpg&ehk=CVuhyX%2fM2qKIIhuyKbWEgSKQdjoGJYofbsCkwjhBww0%3d&risl=&pid=ImgRaw&r=0');
 
}

.div{
color: rgb(107, 195, 227) ;
}